html{
    background-color: white;
}
#gallery-nav li a.active{ color: #f2b830;}
#gallery-nav li a {color: black;}

.heading-gallery{ 
    font-size: 220%;
    color: black;
    text-align: center;
    margin-top: 5%;
}
.gallery-container{
    position: relative;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vh;
    grid-auto-flow: dense;
}
.gallery-image{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.gallery-image:first-child{
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.gallery-image:nth-child(2n+3){
    grid-row-start: span 2;
}
.gallery-image:nth-child(4n+5){
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.gallery-image:nth-child(6n+7){
    grid-row-start: span 1;
}
.gallery-image:nth-child(8n+9){
    grid-column-start: span 1;
    grid-row-start: span 1;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/* Animations */


/* media quries */
@media screen and (max-width: 768px){
    .gallery-container{margin-top: -5%;}
    .heading-gallery{font-size: 180%; margin-top: 10%;}
}
@media screen and (max-width: 480px){
    .gallery-container{grid-template-columns: auto auto auto; margin-top: -15%;}
    .heading-gallery{font-size: 130%; margin-top: 15%;}
    
}
@media screen and (max-width: 325px){
    .gallery-container{grid-template-columns: auto auto; margin-top: -20%;}
    .heading-gallery{ margin-top: 20%;}
}
